---
layout: job_page
title: "Online Marketing Manager"
---

## Responsibilities

- Manage our digital marketing agency.
- Ensure all online marketing enhances our brand with developers, IT ops practitioners, and IT leaders. Be an expert on our audiences and their preferences.
- SEO strategy.
- Grow inbound demand tracked through GitLab’s marketing site by optimizing the customer journey:
  - Grow traffic to about.gitlab.com through paid and organic marketing programs.
  - Improve website conversion focused on enterprise trial requests, sales contact requests, and live chat engagement.
  - Improve conversion from trial request to download of GitLab.
  - Improve conversion from trial request to sales accepted opportunity.
  - Drive innovation and experimentation on the marketing site to improve inbound demand creation. 
- Paid social and account based advertising programs, maximizing for return on marketing spend.
- Improve closed-loop reporting and analysis capabilities.
- Marketing reporting and dashboards.
- Evaluate and help implement adtech and martech.


<%= partial "includes/apply_and_about" %>