.page-container.customer-stories
  .container
    .row
      .col-md-12
        .stories-table
          .row
            .col-md-4
              %a{ href: '/2017/06/07/continous-integration-ticketmaster/'}
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/tm-cover-image-small.jpg')" }
                  .title                  
                    How GitLab CI Supported 
                    %br
                    Ticketmaster's Ramp Up to Weekly 
                    %br
                    Mobile Releases
            .col-md-4
              %a{ href: '/2016/11/23/gitlab-adoption-growing-at-cern/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/cern.jpg')" }
                  .title
                    Customer Story: GitLab adoption
                    %br
                    growing at CERN
            .col-md-4
              %a{ href: '/2016/12/05/why-vaadin-chose-gitlab/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/why-vaadin-chose-gitlab-cover.png')" }
                  .title
                    Customer Story: Why Vaadin chose
                    %br
                    GitLab
          .row
            .col-md-4
              %a{ href: '/2016/08/04/moving-to-gitlab-yes-its-worth-it/' }
                .story-card
                  .cover{ style: "background-image: url('/images/community/love-the-sun-gitlab.jpg')" }
                  .title
                    Customer Story: Moving to GitLab!
                    %br
                    Yes, it's worth it!
            .col-md-4
              %a{ href: '/2016/12/15/a-creative-agencys-gitlab-wishlist/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/a-creative-agencys-gitlab-wishlist.jpg')" }
                  .title
                    Customer Story: A creative agency's
                    %br
                    GitLab wishlist
            .col-md-4
              %a{ href: '/2016/10/17/gitlab-ci-oohlala' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/gitlab-ci-oohlala-cover.png')" }
                  .title
                    Why We Chose GitLab CI for our CI/CD
                    %br
                    Solution
          .row
            .col-md-4
              %a{ href: '/2016/05/31/customer-story-charge-communications/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/Charge-customer-story/person-on-phone.jpg')" }
                  .title
                    Customer Story: Charge
            .col-md-4
              %a{ href: '/2016/11/22/cognitive-logic-talks-migrating-to-gitlab/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/data-startup-cognitive-logic-talks-migrating-to-gitlab.jpg')" }
                  .title
                    Customer Story: Data Startup
                    %br
                    Cognitive Logic Talks Migrating to
                    %br
                    GitLab
            .col-md-4
              %a{ href: '/2016/07/22/building-our-web-app-on-gitlab-ci/' }
                .story-card
                  .cover{ style: "background-image: url('/images/blogimages/cross-post-gitlab-ci/building-our-web-app-on-gitlab-ci-cover.jpg')" }
                  .title
                    Building our web-app on GitLab CI
