---
layout: job_page
title: "Growth Product Manager / Engineer"
---

{: .text-center}
<br>

Get more people to use and contribute to GitLab, mainly the Community Edition (CE). Marketing gets us awareness and downloads. Your goal is to ensure people downloading our product keep using it, invite others, and contribute back. You report to the VP of Product.

We're looking for someone that is technically strong and able to contribute
themselves (i.e. knows Rails).

## Goals

1. Conversion of download to 30 day active (install success * retention)
1. Growth of existing CE installations
(growth of comments measured with usage ping)
1. Growth in the number of new people that contributed merged code

## Possible improvements

1. Auto install let's encrypt
1. Check open to new users by default
1. Check invite by email function
1. Usage ping for CE
1. Ensure installers are very simple
1. First 60 seconds with a product
1. Measure contributors like a SaaS funnel (activation, retention)
1. Improve data for Usage ping EE
1. Improve zero-states of project (hints on first action)
1. New feature show-off / highlighting
1. Great experience when not logged in (commenting)
1. Great experience when not a project member (edit button works)
1. Make it easier to configure email
1. Make it easier to configure LDAP

## You'll work with

* Other PM's
* Developers (implement some things self, some with help of experts)
* Community team
* Issue triage specialists
* Merge request coaches

## Requirements

- Deep understanding of UX and UI
- You've built web applications before in Ruby on Rails (be it personal or professional)
- You're pragmatic and willing to code yourself
- You're able to independently find, report and solve issues and opportunities related to growth in the product
- Good understanding of Git
- Able to make wireframes and write clear, concrete product specifications

## Responsibilities

- Plan and execute on improvements in GitLab related to growth
- Write specs and create wireframes to communicate your plans
- Ship improvements every month and make it possible to report on those
improvements
- Do data analysis whenever useful
- Assist the rest of the team with topics related to growth
- Build and expand tools related to growth (version.gitlab.com and others)

## Hiring Process

Applicants for this position can expect the hiring process to follow the order below. Please keep in mind that applicants can be declined from the position at any stage of the process. To learn more about someone who may be conducting the interview, find her/his job title on our [team page](/team).


* Qualified applicants receive a short questionnaire from our Global Recruiters
* Selected candidates will be invited to schedule a 30min [screening call](/handbook/hiring/#screening-call) with our Global Recruiters
* Next, candidates will be invited to schedule a first interview with a VP of Product
* Candidates will then be invited to schedule a second interview with the Head of Product
* Finally, candidates will interview with our CEO
* Successful candidates will subsequently be made an offer via email


Additional details about our process can be found on our [hiring page](/handbook/hiring).


<%= partial "includes/apply_and_about" %>
