---
layout: job_page
title: "Senior Director, Marketing & Sales Development"
---


## Responsibilities

* The Senior Director, Marketing & Sales Development will own all lead generation activities at GitLab, from traffic generation to lead capture, scoring, qualification & nurturing
* Current channels: search and social advertising, webinars, whitepapers, blog posts, events, and GitLab.com.
* Manage a (growing) team reporting into the role.
* Exhibit deep expertise in software marketing, as well as people management experience.
* Metrics-based approach, and strong results in both content & field marketing.
* Primary metric is the SQL dollar value generated, secondary metrics are MQL and SQL numbers.
* Run operations for marketing and possibly sales
* Be able to set CPA levels per segment
* Be able to forecast correctly
* Make a trade-off between the different marketing channels
* Work with sales to ensure leads are used effectively
* Accurately forecast SQL dollar value, conversion percentage, and conversion time across channels and segments.
* Ensure that our event selection is based on historical data and market insights.
* Collaborate effectively with sales to get the maximum out of events, for example by monitoring booked meetings.

## Requirements

* At least 5 years of content and field marketing marketing experience in a software context
* Director level position at comparable organization
* Experience with lead scoring & nurturing models
* Experience with driving direct sales in an online/SaaS context
* Experience with Pardot, Marketo, Hubspot or similar tools
* Experience with Google Analytics, MixPanel, and content optimization tools
* Experience running SEM campaigns and other paid traffic
* Experience with Social Media Marketing
* Strong understanding of marketing funnels & metrics
* Experience with Account-based Marketing
* Stays on top of trends in the space via conferences, publications, social media, etc.
* You share our [values](/handbook/values), and work in accordance with those values.

## Nice-to-haves

* Experience with remote-friendly, remote-mostly or remote-only work cultures
* Experience at multiple SaaS companies
* Direct experience in the Developer Tools or Collaboration spaces e.g. Atlassian, GitHub, JetBrains, Slack, Xamarin, New Relic, etc.
* Marketing experience beyond demand gen & lead gen


<%= partial "includes/apply_and_about" %>
